body {
    font-family: 'Comfortaa', cursive;
    font-size: 21px;
    background-color: #ffffff;
}
.navbar {
    background-image: linear-gradient(16deg, #1A2238 0%, #1A2238 80%);
}
.shadow {
    box-shadow: 0 2px 12px rgb(107, 102, 102);
}
.masthead {
    height: auto;
    box-shadow: 0 16px 48px #1b262c;
    padding-top: 18px;
}
:root {
    --mainColor: #0a4c48;
}
.text-anime {
    background-position: 0 100%;
    font-size: 24px;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}

.card {
    background-color: #f5e6f0;
    border: 3px solid #1A2238;
    box-shadow: #1A2238;
    max-width: 100%;
}

.btn {
    border: 3px solid #1A2238;
    background-color: rgb(214, 196, 210);
    outline:none;  
}
